* {
  padding: 0;
  font-size: 19px;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  width: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(64, 218, 226);
  border-radius: 9px;
}
label {
  color: white;
}
.inp {
  width: 100px;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 200px;
  font-size: 17px;
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.footer {
  display: flex;
  justify-content: center;
}
